<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head")  %> 
</head>
<body>
    <div id="edit-top-container">
        <div id="edit-show-existing-info">
            <h1>EDIT POKEMON</h1>
            <img src="<%=pkmn.img %> ">
            <h1><%= pkmn.name %> - ID no. <%= pkmn.id  %> </h1>    
        </div>
        <div id="edit-update-form">
            <form action="/pokedex/<%= i %>?_method=PUT" method="POST">
                Name: <input type="text" name="name" value="<%= pkmn.name %> ">
                ID: <input type="text" name="id" value="<%= pkmn.id %> ">
                Type: <input type="text" name="type" value="<%= pkmn.type %> ">
                <input type="Submit" value="SUBMIT CHANGES">    
            </form>
        <a href="/pokedex/<%= i %> ">CANCEL</a>
        </div>
    </div>
</body>
</html>