<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head")  %> 
</head>
<body>
    <header>
        Pokedex
    </header>
    <div id="index-top-container">
        <form action="/pokedex/new">
            <input type="submit" value="Add New Pokemon">
        </form>
        <div id="index-entries-container">
            <% for (let i = 0; i < pokedex.length; i++) { %>
                <div id="index-individual-container">
                    <a href="/pokedex/<%= i %>"><img src="<%= pokedex[i].img %> " class="index-pkmn-img"></a>
                    <table class="index-pkmn-info">
                        <tr>
                            <td>Name:</td>
                            <td><%= pokedex[i].name %> </td>
                        </tr>
                        <tr>
                            <td>Type:</td>
                            <td><%= pokedex[i].type %> </td>
                        </tr>
                    </table>
                </div>
            <% } %> 
        </div>
    </div>
</body>
</html>